<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
    <title>Yazar Listesi</title>
</head>

<body style="background-image:none">
<nav th:replace="fragments/header :: navigation"></nav>
<div class="container">
    <div>
        <a th:if="${#request.userPrincipal != null}" th:href="@{/saveAuthor}">
            <div class="btn btn-info">
                <i class="fas fa-plus-circle"></i> Yazar Ekle
            </div>
        </a>
        <h1>YAZARLAR</h1>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Yazar Adı Soyadı</th>
                <th>Yazar Hakkında</th>
                <th th:if="${#request.userPrincipal != null}"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="authorDTO : ${listAuthors}">
                <td th:text="${authorDTO.nameSurname}"></td>
                <td th:text="${authorDTO.about}"></td>

                <td th:if="${#request.userPrincipal != null}">
                    <table>
                        <tr>
                            <td>
                                <a
                                        class="btn btn-info"
                                        th:href="@{/updateAuthor/{id}(id=${authorDTO.id})}"
                                        th:method="GET"
                                >
                                    <i class="fas fa-edit"></i> GÜNCELLE
                                </a>
                            </td>
                            <td>
                                <form
                                        action="#"
                                        th:action="@{/deleteAuthor/{id}(id = ${authorDTO.id})}"
                                        th:method="POST"
                                >
                                    <button
                                            class="btn btn-danger"
                                            id="deleteButton"
                                            type="submit"
                                    >
                                        <i class="fas fa-trash"></i>
                                        SİL
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
