<!DOCTYPE html>
<html lang="en"      xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>ÜYE LİSTESİ</title>
</head>
<body style="background-image:none">
<nav th:replace="fragments/header :: navigation"></nav>
<div class="container">
    <div>
        <h1>ÜYELER</h1>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Kullanıcı adı</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Adres</th>
                <th>Statüsü</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="member, stat : ${listmember}" th:object="${member}">
                <td th:text="${member.userName}"></td>
                <td th:text="${member.firstName}"></td>
                <td th:text="${member.lastName}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.phoneNumber}"></td>
                <td th:text="${member.adress}"></td>
                <td th:text="${member.memberStatus}"></td>

                <td>
                    <table>
                        <tr>
                            <td>
                                <form action="#"
                                      th:action="@{/member-status/{id}(id= ${member.id})}"
                                      th:method="POST">
                                    <button class="btn btn-info"
                                            id="updatebutton"
                                            type="submit">
                                        <i class="fas fa-trash"></i>
                                        STATÜ DEĞİŞTİR
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form action="#"
                                      th:action="@{/member/delete/{id}(id = ${member.id})}"
                                      th:method="POST">
                                    <button class="btn btn-danger"
                                            id="deleteButton"
                                            type="submit">
                                        <i class="fas fa-trash"></i>
                                        SİL
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>