# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming_C#_Cpp_Web_Python\Java\kodluyoruz\code\kodluyoruz-bitirme-odevi-chambi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
